<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="App Test Suite">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <!-- Point tests to your running app URL -->

    <env name="APP_URL" value="http://apache:80"/>
  </php>
</phpunit>